.header__lang-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,minmax(min-content, max-content));
    align-self: flex-end;
    justify-content: start;
    align-content: center;
    column-gap: 18px;
}