.intro__title{    
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0 calc(100% - 690px) 40px 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .intro__title{
        margin-right: calc(100% - 720px);
    }
}
@media screen and (max-width: 767px){
    .intro__title{
        font-size: 32px;
        line-height: 35px;
        margin-right: calc(100% - 288px);
    }
}